{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/">CCR</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>

          {% if session['USER']!='AGENT' and session['USER']!='ADMIN' and session['USER']!='CUSTOMER' %}
          <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Customer
            </div>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('customer_login')}}">Login</a></li>
              <li><a class="dropdown-item" href="{{url_for('customer_signup')}}">Sign Up</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Agent
            </div>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('agent_login')}}">Login</a></li>
              <li><a class="dropdown-item" href="{{url_for('agent_signup')}}">Sign Up</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Admin
            </div>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('admin_login')}}">Login</a></li>
              <li><a class="dropdown-item" href="{{url_for('admin_signup')}}">Sign Up</a></li>
            </ul>
          </li>

          {% endif %}
          
          {% if session['USER']=='AGENT' %}
            {% include "agent/agent.navitems.html" %}
          {% endif %}

          {% if session['USER']=='ADMIN' %}
            {% include "admin/admin.navitems.html" %}
          {% endif %}

          {% if session['USER']=='CUSTOMER' %}
            {% include "customer/customer.navitems.html" %}
          {% endif %}
          
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  
{% endblock navbar %}
