{% extends "base.html" %}
{% block title %}Admin Login{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }
    html {
      scroll-behavior: smooth;
    }
    
    p {
      font-size: 16px;
      font-weight: 350;
    }
    a {
      text-decoration: none;
    }
    
    /* first  */
    
    .first {
      height: 100vh;
      background: rgb(220, 211, 211, 0.9);
      background: url(/static/images/home-first.jpg), no-repeat, scroll;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }.cen{
        width: 100em;
    }
    .fst-sec {
      /* border: 2px solid red; */
      max-width: 55ch;
      padding: 70px 30px;
      height: max-content;
      box-shadow: 0 0px 10px 5px rgb(0, 0, 0, 0.2);
      background: rgb(255, 255, 255, 0.8);
      border-radius: 3px;
      margin: 0 20px;
    }
    .fst-sec h2 {
      font-weight: 700;
      font-size: 34px;
    }
    
    /* for button tag */
    .cl-btn {
      height: 50px;
      width: 160px;
      border: none;
      border-radius: 10px;
      background: rgb(43, 40, 40);
      color: white;
      font-weight: 600;
      font-size: 16px;
      transform: scale(1, 1);
      transition: transform 500ms ease;
    }
    .cl-btn:hover {
      transform: scale(1.1, 1.1);
    }
    /* button ends */
    
    /* second section -----------*/
    .second {
      padding: 5em 3em 3em;
    }
    .se-sec {
      margin: auto;
      max-width: 100ch;
    }
    .detail-sec {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: 1.5em 0 1em 0;
      gap: 10px;
    }
    .dt span {
      margin-left: 10px;
    }
    .se-sp span {
      position: relative;
      margin-left: 10px;
    }
    
    .barrs {
      margin: 1.3em 0 2em 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    
    /* third section------*/
    
    .third {
        padding: 5em 3em;
        /* height: 100vh; */
        display: grid;
        place-content: center;
        color: black;
        position: relative; 
        font-weight: 800;
    }
    .third::before{
        content: "";
        background-image: url(/static/images/pexels-fauxels.png);
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.2;
        z-index: -99;
    }
    .fr-sec{
        position: relative;
        max-width: 95ch;
        z-index: 999;
    }
    .fr-sec p{
        font-weight: 400;
    }
    
    
    /* ---fourth section ---- */
    .fourth{
        padding: 5em 3em;
    }
    .th-sec {
      margin: auto;
    }
    .th-sec h2 {
      text-align: center;
      border: 2px;
      font-weight: 700;
    }
    
    .th-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
      margin: 4em auto;
      max-width: max-content;
    }
    .th-grid .card {
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
      transform: scale(1, 1);
      transition: transform 500ms ease;
    }
    .th-grid .card:hover {
      transform: scale(1.1, 1.1);
    }
    
    
    /* ---footer------ */
    .end{
        padding:3em 2em;
        background:#002A30;
        color: white;
    }
    
    
    .footer-clean h3 {
        margin-top:0;
        margin-bottom:12px;
        font-weight:bold;
        font-size:16px;
      }
      
      .footer-clean ul {
        padding:0;
        list-style:none;
        line-height:1.6;
        font-size:14px;
        margin-bottom:0;
      }
      
      .footer-clean ul a {
        color:inherit;
        text-decoration:none;
        opacity:0.8;
      }
      
      .footer-clean ul a:hover {
        opacity:1;
      }
      
      .footer-clean .item.social {
        text-align:right;
      }
      
      @media (max-width:767px) {
        .footer-clean .item {
          text-align:center;
          padding-bottom:20px;
        }
      }
      
      @media (max-width: 768px) {
        .footer-clean .item.social {
          text-align:center;
        }
      }
      
      .footer-clean .item.social > a {
        font-size:24px;
        width:40px;
        height:40px;
        line-height:40px;
        display:inline-block;
        text-align:center;
        border-radius:50%;
        border:1px solid #ccc;
        margin-left:10px;
        margin-top:22px;
        color:inherit;
        opacity:0.75;
      }
      
      .footer-clean .item.social > a:hover {
        opacity:0.9;
      }
      
      @media (max-width:991px) {
        .footer-clean .item.social > a {
          margin-top:40px;
        }
      }
      
      @media (max-width:767px) {
        .footer-clean .item.social > a {
          margin-top:10px;
        }
      }
      
      .footer-clean .copyright {
        margin-top:14px;
        margin-bottom:0;
        font-size:13px;
        opacity:0.6;
      }
      
    
      .lst-foot{
        height: 40px;text-align:center;background: #002A30;color:white;border-top: 2px solid black;padding: 5px;
      }
    
    
    
    
    /*--- */
    @media (min-width: 560px) {
      .first,
      .second,
      .fourth,
      .third {
        padding: 4em;
      }
      .second .detail-sec {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
    /* fourth section media  */
    @media (max-width: 1110px) {
      .th-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media (max-width: 760px) {
      .th-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
    }
    
    /* --- */
    
    </style>
{% endblock %}
{% block content %}
<section class="first">
    <div class="cen"><div class=" fst-sec">
        
        <h2 >Find The Right Solution For Your Questions</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut a, exercitationem deserunt voluptatem quia sunt iste voluptas eos optio quod.</p>
       <button class="cl-btn">Contact</button>
       
    </div></div>
    
</section>


<section class="second">
    <div class="se-sec">
        <p class="se-sp"><img src="https://img.icons8.com/metro/19/null/info.png"/><span >About us</span>  </p>
        <h2>We Are The Best Customer Support For Your Services</h2>
        <p>We are best at providing you an wonderful experience with us, thus by solving all your questions related to the fields.  We will assign you with the suitable agent who can rectify the problems in every possible ways.</p>
        <div class="detail-sec">
            <div class="dt">
                
                <h6><img src="https://img.icons8.com/metro/26/null/ok.png"/><span>24/7 Customer support</span></h6>
                <p>Available agent for 24/7 support without any interuption.</p>
            </div>
            <div class="dt">
                <h6><img src="https://img.icons8.com/metro/26/null/ok.png"/><span>Delivery Support<span></h6>
                    <p>Providing an immersive delivery experience of servicing.</p>
            </div>
        </div>
        <div class="barrs">
            <div class="barr">
                <h6>Communication</h6>
                <div class="progress" style="width:95%;height: 14px;">
                    <div class="progress-bar bg-danger" style="width: 95%;">95%</div>
                </div>
            </div>
            <div class="barr">
                <h6>Chat Support</h6>
                <div class="progress" style="width:95%;height: 14px;">
                    <div class="progress-bar bg-danger" style="width: 87%;">87%</div>
                </div>
            </div>
        </div>
        <button class="cl-btn">Learn more</button>
    </div>
</section>



<section class="third">
    <div class="fr-sec">
        <h2>Description</h2>
        <p>This Application has been developed to help the customer in processing their complaints.  The customers can raise the ticket with a detailed description of the issue.  An Agent will be assigned to the Customer to solve the problem.  Whenever the agent is assigned to a customer they will be notified with an email alert.  Customers can view the status of the ticket till the service is provided. <br>
            <span>Admin : The main role and responsibility of the admin are to take care of the whole process.  Starting from Admin login followed by the agent creation and assigning the customer's complaints.  Finally, He will be able to track the work assigned to the agent and a notification will be sent to the customer.
                <br>
                User: They can register for an account.  After the login, they can create the complaint with a description of the problem they are facing.  Each user will be assigned with an agent.  They can view the status of their complaint.</span>
            </p>
        </div>
</section>



    <section class="fourth">
      
        <div class="th-sec">
            <h2>Contributors</h2>
            <div class="th-grid">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/images/pexels-fauxels.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Viruchit G A </h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/images/pexels-fauxels.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Srivignesh S</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/images/pexels-fauxels.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Shrishtidharan K A</h5>
                      <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/images/pexels-fauxels.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Venkatesh N</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                    </div>
                  </div>
            </div>
        </div>
    </section>



    <section class="end"> 
        <div class="footer-clean">
        
        <footer>
            <div class="container ct">
             <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Legacy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Careers</h3>
                        <ul>
                            <li><a href="#">Job openings</a></li>
                            <li><a href="#">Employee success</a></li>
                            <li><a href="#">Benefits</a></li>
                        </ul>
                    </div></div>

                    <div class="col-lg-3 item social md-6"><a href="#"><i class="fab fa-facebook"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-snapchat"></i></a><a href="#"><i class="fab fa-instagram"></i></a>
                        
                    </div>
                </div>
            </div>
        </footer>
    </div></section>


    
    <div class="lst-foot">

        <p class="copyright">© 2022</p>
    </div>
{% endblock %}

