{% extends "base.html" %}
{% block title %}Agent Dashboard{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        
    </style>
{% endblock %}
{% block content %}
   <div>
   <div>
    <div class="mb-3 p-5 d-flex justify-content-center">
      <div class="badge bg-light shadow-lg text-dark p-3 ">
        <h1><strong>Agent Dashboard</strong></h1>
      </div>
    </div>
       {% if  assigned_complaints%}
            <div class="row p-5">
              {% for complaint in assigned_complaints %}
              <div class="col-md-2 mb-3 card m-2 p-4">
                <div class="mb-3">
                    {% if complaint.status=='OPENED' %}
                    <span class="me-3 badge rounded-pill bg-success">{{complaint.status}}</span>
                    {% endif %}
                    {% if complaint.status=='ASSIGNED' %}
                    <span class="me-3 badge rounded-pill bg-warning">{{complaint.status}}</span>
                    {% endif %}
                    {% if complaint.status=='RESOLVED' %}
                    <span class="me-3 badge rounded-pill bg-danger">{{complaint.status}}</span>
                    {% endif %}
                </div>
                <div class="mb-3">
                  <label for="title" class="form-label">Title : </label>
                  <input
                    type="text"
                    class="form-control"
                    value="{{complaint.title}}"
                    disabled
                  />
                </div>
            
                <div class="mb-3">
                  <label for="title" class="form-label">Category : </label>
                  <input
                    type="text"
                    class="form-control"
                    value="{{complaint.category}}"
                    disabled
                  />
                </div>
            
                <div class="mb-3">
                  <label for="" class="form-label">Description</label>
                  <textarea class="form-control" name="" id="" rows="3" disabled>
            {{complaint.description}}</textarea
                  >
                </div>
                <div class="mb-3">created at : {{complaint.created_at.strftime('%d/%m/%Y , %H:%M:%S %p')}}</div>
                <a
                  id=""
                  class="btn btn-success"
                  href="/complaint/{{complaint.id}}/resolve"
                  role="button"
                  >Resolve</a
                >
              </div>
              {% endfor %}
            </div>
       {% endif %}
   </div>
  
{% endblock %}

