{% extends "base.html" %} {% block title %}Customer Dashboard{% endblock %} {%
block head %} {{ super() }}
<style></style>
{% endblock %} {% block content %}
<br />
<div class="mb-3 p-5 d-flex justify-content-center">
  <div class="badge bg-light shadow-lg text-dark p-3 ">
    <h1><strong>My Complaints</strong></h1>
  </div>
</div>
<div class="ms-3 d-flex">
  <div class="ms-3 d-flex p-3 rounded-pill bg-light justify-content-center">
      <a href="/complaint/create" type="button" class="btn btn-info shadow-lg border-dark">Create Complaint</a>
  </div>
</div>
<div class="p-3">
    <hr>
</div>
{% if complaints%}

<div class="row p-5">
  {% for complaint in complaints %}
  <div class="col-md-2 mb-3 card m-2 p-4">
    <div class="mb-3">
        {% if complaint.status=='OPENED' %}
        <span class="me-3 badge rounded-pill bg-success">{{complaint.status}}</span>
        {% endif %}
        {% if complaint.status=='ASSIGNED' %}
        <span class="me-3 badge rounded-pill bg-warning">{{complaint.status}}</span>
        {% endif %}
        {% if complaint.status=='RESOLVED' %}
        <span class="me-3 badge rounded-pill bg-danger">{{complaint.status}}</span>
        {% endif %}
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Title : </label>
      <input
        type="text"
        class="form-control"
        value="{{complaint.title}}"
        disabled
      />
    </div>

    <div class="mb-3">
      <label for="title" class="form-label">Category : </label>
      <input
        type="text"
        class="form-control"
        value="{{complaint.category}}"
        disabled
      />
    </div>

    <div class="mb-3">
      <label for="" class="form-label">Description</label>
      <textarea class="form-control" name="" id="" rows="3" disabled>
{{complaint.description}}</textarea
      >
    </div>
    <div class="mb-3">created at : {{complaint.created_at.strftime('%d/%m/%Y , %H:%M:%S %p')}}</div>
    <a
      id=""
      class="btn btn-success"
      href="/complaint/{{complaint.id}}/edit"
      role="button"
      >Edit</a
    >
  </div>
  {% endfor %}
</div>
<div class="p-3">
    <hr>
</div>
{% endif %} {% endblock %}
