{% extends "base.html" %}
{% block title %}Resolve Complaint{% endblock %}
{% block head %}
    {{ super() }}
    <style>
       
    </style>
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8 mt-5">
        <div class="card container-card mb-3 p-5" style="">
    <form id="resolve-form" class="" action="" method="post" novalidate>
        <h1>Resolve Complaint</h1>
        {{ form.csrf_token }}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                <li class="alert alert-{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% if complaint%}

        <div class="mb-3">
            <label for="title" class="form-label">Title : </label>
            <input type="text" class="form-control" value="{{complaint.title}}" disabled>
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Category : </label>
            <input type="text" class="form-control" value="{{complaint.category}}" disabled >
        </div>

      <div class="mb-3">
        <label for="" class="form-label">Description</label>
        <textarea class="form-control" name="" id="" rows="3" disabled>{{complaint.description}}</textarea>
      </div>
       

      <div class="mb-3">
        <label for="message" class="form-label">{{ form.message.label }}</label>
        {{ form.message(class_="form-control",rows_="10") }}
        <div class="text-danger">
            <div class="text-danger">
                {% if form.message.errors %}
                    <ul class="errors">
                    {% for error in form.message.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-check">
        {{ form.resolved(class_="form-check-input",id_="resolved") }}
        <label class="form-check-label" for="resolved">
          {{form.resolved.label}}
        </label>
      </div>



        <button type="submit" class="btn btn-primary">Submit</button>

        {% endif %}

       
    </form>
</div>
    </div>
</div>
{% endblock %}

