{% extends "base.html" %}
{% block title %}Admin SignUp{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        #signup-form{
            margin-inline: 35rem;
        }
    </style>
{% endblock %}
{% block content %}
    <form id="signup-form" class="" action="" method="post" novalidate>
        <h1>Admin SignUp</h1>
        {{ form.csrf_token }}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                <li class="alert alert-{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="mb-3">
            <label for="email" class="form-label">{{ form.email.label }}</label>
            {{ form.email(class_="form-control") }}
            <small id="emailHelpId" class="form-text text-muted">Your Email won't be shared !</small>
        <div class="text-danger">
            {% if form.email.errors %}
                <ul class="errors">
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">{{ form.password.label }}</label>
            {{ form.password(class_="form-control") }}
            <div class="text-danger">
            <div class="text-danger">
                {% if form.password.errors %}
                    <ul class="errors">
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">{{ form.confirm_password.label }}</label>
            {{ form.confirm_password(class_="form-control") }}
            <div class="text-danger">
            <div class="text-danger">
                {% if form.confirm_password.errors %}
                    <ul class="errors">
                    {% for error in form.confirm_password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="fname" class="form-label">{{ form.first_name.label }}</label>
            {{ form.first_name(class_="form-control") }}
            <div class="text-danger">
                <div class="text-danger">
                    {% if form.first_name.errors %}
                        <ul class="errors">
                        {% for error in form.first_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="lname" class="form-label">{{ form.last_name.label }}</label>
            {{ form.last_name(class_="form-control") }}
            <div class="text-danger">
                <div class="text-danger">
                    {% if form.last_name.errors %}
                        <ul class="errors">
                        {% for error in form.last_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

