{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        
    </style>
{% endblock %}
{% block content %}
   <h1>ADMIN DASHBOARD</h1>

   <div>
    <br>
        <h3>Unassigned complaints : </h3>
        <div class="p-3">
            <hr>
        </div>
        <div class="row p-5">
          {% for complaint in unassigned_complaints %}
          <div class="col-md-2 mb-3 card m-2 p-2">
            <div class="mb-3">
                {% if complaint.status=='OPENED' %}
                <span class="me-3 badge rounded-pill bg-success">{{complaint.status}}</span>
                {% endif %}
                {% if complaint.status=='ASSIGNED' %}
                <span class="me-3 badge rounded-pill bg-warning">{{complaint.status}}</span>
                {% endif %}
                {% if complaint.status=='RESOLVED' %}
                <span class="me-3 badge rounded-pill bg-danger">{{complaint.status}}</span>
                {% endif %}
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Title : </label>
              <input
                type="text"
                class="form-control"
                value="{{complaint.title}}"
                disabled
              />
            </div>
        
            <div class="mb-3">
              <label for="title" class="form-label">Category : </label>
              <input
                type="text"
                class="form-control"
                value="{{complaint.category}}"
                disabled
              />
            </div>
        
            <div class="mb-3">
              <label for="" class="form-label">Description</label>
              <textarea class="form-control" name="" id="" rows="3" disabled>
        {{complaint.description}}</textarea
              >
            </div>
            <div class="mb-3">created at : {{complaint.created_at.strftime('%d/%m/%Y , %H:%M:%S %p')}}</div>
            <a
              id=""
              class="btn btn-success"
              href="/complaint/{{complaint.id}}/assign"
              role="button"
              >Assign</a
            >
          </div>
          {% endfor %}
        </div>
        <div class="p-3">
            <hr>
        </div>



        <div class="p-3">
            <hr>
        </div>
        <div class="row p-5">
        <h3 class="mb-3">Assigned Complaints</h3>
          {% for complaint in assigned_complaints %}
          <div class="col-md-2 mb-3 card m-2 p-2">
            <div class="mb-3">
                {% if complaint.status=='OPENED' %}
                <span class="me-3 badge rounded-pill bg-success">{{complaint.status}}</span>
                {% endif %}
                {% if complaint.status=='ASSIGNED' %}
                <span class="me-3 badge rounded-pill bg-warning">{{complaint.status}}</span>
                {% endif %}
                {% if complaint.status=='RESOLVED' %}
                <span class="me-3 badge rounded-pill bg-danger">{{complaint.status}}</span>
                {% endif %}
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Title : </label>
              <input
                type="text"
                class="form-control"
                value="{{complaint.title}}"
                disabled
              />
            </div>
        
            <div class="mb-3">
              <label for="title" class="form-label">Category : </label>
              <input
                type="text"
                class="form-control"
                value="{{complaint.category}}"
                disabled
              />
            </div>
        
            <div class="mb-3">
              <label for="" class="form-label">Description</label>
              <textarea class="form-control" name="" id="" rows="3" disabled>
        {{complaint.description}}</textarea
              >
            </div>
            <div class="mb-3">created at : {{complaint.created_at.strftime('%d/%m/%Y , %H:%M:%S %p')}}</div>
            <a
              id=""
              class="btn btn-success"
              href="/complaint/{{complaint.id}}/assign"
              role="button"
              >Assign</a
            >
          </div>
          {% endfor %}
        </div>
        <div class="p-3">
            <hr>
        </div>




        <div class="p-3">
            <hr>
        </div>
        <div class="row p-5">
            <h3 class="mb-3">Resolved Complaints</h3>
          {% for complaint in resolved_complaints %}
          <div class="col-md-2 mb-3 card m-2 p-2">
            <div class="mb-3">
                {% if complaint.status=='OPENED' %}
                <span class="me-3 badge rounded-pill bg-success">{{complaint.status}}</span>
                {% endif %}
                {% if complaint.status=='ASSIGNED' %}
                <span class="me-3 badge rounded-pill bg-warning">{{complaint.status}}</span>
                {% endif %}
                {% if complaint.status=='RESOLVED' %}
                <span class="me-3 badge rounded-pill bg-danger">{{complaint.status}}</span>
                {% endif %}
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Title : </label>
              <input
                type="text"
                class="form-control"
                value="{{complaint.title}}"
                disabled
              />
            </div>
        
            <div class="mb-3">
              <label for="title" class="form-label">Category : </label>
              <input
                type="text"
                class="form-control"
                value="{{complaint.category}}"
                disabled
              />
            </div>
        
            <div class="mb-3">
              <label for="" class="form-label">Description</label>
              <textarea class="form-control" name="" id="" rows="3" disabled>
        {{complaint.description}}</textarea
              >
            </div>
            <div class="mb-3">created at : {{complaint.created_at.strftime('%d/%m/%Y , %H:%M:%S %p')}}</div>
          </div>
          {% endfor %}
        </div>
        <div class="p-3">
            <hr>
        </div>

  
{% endblock %}

